header{
    background-color: dimgray;
}
.barre-logo{
    padding: 0 1%;
    background-color: rgb(255, 242, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    justify-content: flex-start;

}
.header-top-right{
}


h1{
color: darkslateblue;
margin-left: 0.5em;
margin-bottom: 1em;
}

h2{
padding-left: 15%;
}

ul{

}

li{
    display: inline;
    width:500px;
    padding-right: 40px;
}

.barre-menu{
   
    background-color: rgb(40, 56, 100);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}


.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 30em;
    margin-left: 8%;
}

div.menu>div{
   margin: Oem 1em;
}

#categories-select, #submit {
    text-align: center;
    border-radius: 10px;
    height: 35px;
    width:150px;
}

#input{
    border-radius: 10px;
    height: 32px;
    width:250px;
}
#submit{
    color: azure;
    background-color: rgb(255, 33, 33);
}

.fa-solid{
    margin-top: 5px;
    margin-left: 10px;
}