body{
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    }

div .faq{
    width: 75rem;
    margin: auto;

}

div .question{
    
    border: solid #2d4059;
    border-radius: 1rem;
}



h1{
    color: #ea5455;
    text-align: center;
    }

details{
    font-size: 1.5rem;
    color: #2d4059;
    border-radius: 1rem;
    }

summary{
    background-color: #e5e5e5;
    padding: .5em 2.5rem;
    display: flex;
}
    
.first {
    border-radius: 1rem 1rem 0 0;
}

.last {
    border-radius: 0 0 1rem 1rem;
}

details:hover{
    color: #ea5455;
}

details[open] summary{
    color: #ea5455;
}

div .anwser{
    color: #2d4059;
    font-size: 0.75em;
}

div .anwser .last{
    border-radius: 0 0 1rem 1rem;
}

details[open] div{
    padding: .5em 2.5em;
    background-color: #ececec;
    border-top: solid #454e58;
    border-bottom: solid #454e58;
}

/* Acceil déroulant */

.slider {
    width: 700px;
    height: 300px;
    display: flex;
    overflow-y: auto;
    margin: auto;
}

.slide {
    background: #ea5455;
    width: 300px;
    flex-shrink: 0;
    border: 1px solid #2d4059;
    margin-left: 5cm;
}